<template name="confirm_message">
    <div id="confirm_message" class="modal confirm_message_popup">
        <div class="modal-content">
            <p id="confirm_title_message"></p>
            <p id="confirm_content_message"></p>
        </div>
        <div class="modal-footer">
            <a id="cancel_modal_message" href="#!" class="modal-action modal-close waves-effect waves-green confirm_cancel">Cancel</a>
            <a id="confirm_modal_message" class="modal-action modal-close waves-effect waves-light confirm_submit">Sure</a>
        </div>
    </div>
</template>