<template name="confirm_message">
    <div id="confirm_edit_message" class="modal confirm_message_popup">
        <div class="modal-content">
            <p id="confirm_title_edit_message"></p>
            <p id="confirm_content_edit_message"></p>
        </div>
        <div class="modal-footer">
            <span id="cancel_modal_edit_message" href="#!" class="modal-action modal-close waves-effect waves-green confirm_cancel">Cancel</span>
            <span id="confirm_modal_edit_message" class="modal-action modal-close waves-effect waves-light confirm_submit">Sure</span>
        </div>
    </div>

    <div id="confirm_delete_message" class="modal confirm_message_popup">
        <div class="modal-content">
            <p id="confirm_title_delete_message"></p>
            <p id="confirm_content_delete_message"></p>
        </div>
        <div class="modal-footer">
            <span id="cancel_modal_delete_message" href="#!" class="modal-action modal-close waves-effect waves-green confirm_cancel">Cancel</span>
            <span id="confirm_modal_delete_message" class="modal-action modal-close waves-effect waves-light confirm_submit">Sure</span>
        </div>
    </div>
</template>