<template name="navbar_internal_user">
  <div class="navbar-fixed ">
    <nav class="nav-wrapper white z-depth-0 ">
      <!--Logo-->
      <div class='row col l12 m6 s6'>
        <div class="col l1 m1 s1">
          <a href="" class ='nav_brand_logo left' data-activates="chatbot_nav">
            <img src="navbar/BPLogo_sysmbol.svg" class='navbar_logo' height="40" width="40">
          </a>
        </div>
        <!-- Navbar menu -->
        <div class="col l8 m8 s8">
          <ul class="ui_navbar_menu">
            <li>
              <i class="grey-text prefix"><img src="navbarIU/CS.svg"></i>
              Customer Service
            </li>
            <li>
              <i class="grey-text prefix"><img src="navbarIU/Analysis.svg"></i>
              Anlaysis
            </li>
            <li>
              <i class="grey-text prefix"><img src="navbarIU/RelationshipM.svg"></i>
              Relation Management
            </li>
          </ul>
        </div>
        <!-- Profile - Search - Notication -->
        <div class="col l3 m3 s3">

        </div>
      </div>
    </nav>
  </div>
</template>
