<template name = "reminder_promotion_modal">
    <div id="reminder_promotion_modal" class="modal">
        <img id="reminder_promotion_images" src="https://s3-ap-southeast-1.amazonaws.com/blueplate-images/images/gift_promotion.png" />
        <div class="row" id="reminder_promotion_container">
            <h3>Congratulation</h3>
            <!-- <p class="content">Remember to spend your <b>${{ promotion_amount }} HKD</b> account credits before the end of promotion.</p> -->
            <p class="content">Remember to spend your account credits before the end of promotion.</p>
            <button class="modal-close btn btn-primary" id="reminder_promotion_button">Let's shopping</button>
        </div>
    </div>
</template>