<template name="RecoverPassword">
  {{#if resetPassword}}
    <form id="set-new-password">
      <label for="new-password">New Password</label>
      <input type="text" id="new-password" placeholder="Try not to forget this one.">

      <input type="submit" value="Set New Password">

      <p id="form-messages"></p>
    </form>
  {{else}}
    <form id="forgot-password">
      <label for="user-email">Email</label>
      <input type="text" id="user-email" placeholder="Email">

      <input type="submit" value="Get Reset Password Instructions">

      <p id="form-messages"></p>
    </form>
  {{/if}}
</template>  
