.bill_board{
 margin-top: 12px;
}

.order_summary_card {
  width: 100%;
}

.empty_cart {
  height: 85vh;
  width: 100%;
}

#confirm_order_modal {
  height: 200px;
}

i.remove_button {
  cursor: pointer;
  padding-top: 8px;
}

.kitchen-name {
  padding: 17px;
  display: block;
  position: relative;
  font-size: 18px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.29028);
  border-radius: 5px;
  background-color: #fafafa;
}

.kitchen-name .chef-avatar-container {
  top: 6px;
  left: 10px;
}

.detail-product {
  padding: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.155995);
  border-radius: 8px;
  margin-bottom: 10px;
}

.detail-image-product {
  margin-left: -6px !important;
}

.detail-product .detail-title {
  font-size: 16px;
  display: block;
  padding-top: 7px;
  font-weight: 600;
}

.detail-product .detail-price {
  display: block;
  color: #56aacd;
  font-size: 15px;
}

.detail-product .detail-old-price {
  display: block;
  padding-left: 20px;
  text-decoration: line-through;
  font-size: 18px;
  color: #727272;
}

.detail-product .detail-thumbnail {
  width: 100%;
  height: 50px;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
}

.detail-product .product-info {
  position: relative;
}

.detail-product .remove-item {
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.detail-product .quantity-control {
  position: absolute;
  display: inline-flex;
  right: 0px;
  bottom: 0px;
}

.detail-product .quantity-control span {
  margin: 0px 5px;
  font-size: 18px;
}

.detail-product .quantity-control span:last-child {
  margin: 0px 0px 0px 5px;
  cursor: pointer;
}

.detail-product .quantity-control span:first-child {
  cursor: pointer;
}

.discount, .subtotal {
  font-size: 14px;
  margin: 0px;
  font-weight: 500;
}

.total {
  font-size: 20px;
  font-weight: 600;
}

.no-background .rc-time-picker input {
  background: none!important;
}

.no-border {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px!important;
  -webkit-appearance: none;
}

.btn.checkout {
  background-color: #56AACD;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  width: 150px;
}

.no-charge-money {
  color: #727272;
  margin-top: 10px;
}


@media only screen and (max-width: 600px) {
  .detail-product .detail-title {
    font-size: 16px;
    display: block;
    padding-top: 7px;
    padding-left: 20px;
    font-weight: bold;
    margin-top: 0px;
  }
}

.format-text-label {
  font-size: 0.8rem !important;
  transform: translateY(-140%);
}

.view-detail-dish:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #56AACD;
}

.detail-title {
  width: fit-content;
  color: rgba(0, 0, 0, 0.87);
  opacity: 0.87;
}

.dropdown-arrow-cart {
  position: absolute;
  right: 10px;
  bottom: -35px;
}

.drop-arrow-cart {
  position: absolute;
  top: 13px;
  right: 10px;
  font-size: 22px;
}

.location-address {
  top: 10px;
}

.time-cart, .service-option-cart {
  position: relative;
}

.time-cart-icon {
  position: absolute;
  top: 12px;
  left: -13px;
}

.rc-time-picker {
  width: 87% !important;
  margin-left: 16px;
}

.drop-down-servicing {
  margin-left: 25px; 
  width: 82%;
  color: #c6c6c6;
}

.service-option-icon {
  width: 29px;
  position: absolute;
  top: 10px;
  left: -13px;
  height: 20px;
  /* background-repeat: no-repeat; */
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/serving_option_shoppingcart.svg);
}

.icon-position-common {
  margin-left: -27px !important;
}

.icon-cart-format {
  color: #727272;
  opacity: 0.87;
}

.chef-name-text {
  margin-left: 60px;
  color: rgba(0, 0, 0, 0.87);
}

.quantity-icon-format {
  color: #727272;
}

.display-on-device-step {
  display: block;
  padding-top: 0px;
  opacity: 0.4 !important;
}

.date-summary {
  margin-top: -10px;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
  .rc-time-picker {
    width: 91% !important;
  }

  .drop-down-servicing {
    width: 87%;
  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 640px) {
  .rc-time-picker {
    width: 87% !important;
  }

  .display-on-device-step {
    display: none;
  }

  .step-progress {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

#date {
  color: #c6c6c6;
}

select#select-serving-option>option {
  color: rgba(0, 0, 0.87);
}

/* Style for progress_bar.js file */
.cart-progress-step-number {
  color: #FFFFFF;
  border-radius: 50%;
  background-color: #56AACD;
  margin-top: 0px;
  width: 10px;
  text-align: center;
  padding: 1px 7px;
  font-size: 18px !important;
  margin-right: 5px;
}
