.btn-forgot-confirm {
    border: none;
    background-color: #56AACD;
    color: #FFFFFF;
    padding: 6px 20px;
    border-radius: 15px;
    margin: 2px;
    font-weight: 600;
}

.btn-forgot-cancel {
    border: 1px solid #56AACD;
    background-color: #FFFFFF;
    color: #56AACD;
    padding: 5px 20px;
    margin: 2px;
    font-weight: 600;
    border-radius: 15px;
}

.forgot_password .row .col {
    float: none;
    margin: 0 auto;
}

#forgot-password-title {
    font-size: 23px;
    color: #56AACD;
    text-align: center;
    font-weight: 600;
}

.forgot_password_form {
    margin-top: 40px;
}