<template name = "forgot_password">
  <div class="container forgot_password ">
    <div class="row">
      <div class="col s12 m6 l6">
        <div id="forgot-password-title">
          <span>Forgot password?</span>
        </div>
        <form class = "forgot_password_form">
          <p>No worries! Just enter your email and we'll sent a email to reset your password.</p>
          <div class="input-field">
            <input id="forgot_password_email" name="email" type="email" class="validate" placeholder="Email Address">
            <span class = "red-text message_response"></span>
          </div>
        </form>
        <div class="row">
          <div class="right">
            <div class="modal_buttons">
              <button class="waves-effect waves-red btn-forgot-confirm right" id="submit_forgot_password" type="submit">Submit</button>
              <button class="waves-effect waves-red btn-forgot-cancel right" id="cancel_forgot_password">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
