.page-footer {
  background-color: #56AACD;
  position: relative;
  bottom: -19px;
}

.footer_logo {
  width: 150px;
}

.logo_wrapper {
  height: 80px;
  width: 120px;
}

.social_icons {
  margin: 6px;
}

#instagram_icon {
  margin-top: 7px;
}

.page-footer .footer-copyright {
  padding: 5px 0px 0px !important;
}
