.payment-wrapper-payment{
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}

.payment-method {
  height: 200px;
}

#credits {
  background: url("https://s3-ap-southeast-1.amazonaws.com/blueplate-images/images/man_in_happy_background.png")
    no-repeat;
  background-position: center center;
  background-size: contain;
}

#card {
  background: url("https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/card.svg")
    no-repeat;
  background-position: center center;
  background-size: contain;
}

.payment-wrapper-payment .text {
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: #55abcd;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  display: block;
}

.text-information {
  color: #56AACD;
  font-size: 17px;
}

.payment-wrapper-payment .sub-text {
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
  position: relative;
  top: 5px;
}

#submit-blueplate-credit {
  margin-top: 15px;
  border: none;
  border-radius: 15px;
  padding: 7px 30px;
  background-color: #56AACD;
  color: #FFFFFF;
  letter-spacing: 0.025em;
  font-weight: 600;
  font-size: 18px;
  outline: none;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  transition: all 150ms ease;
}

#explan-text-info {
  color: #727272;
  margin-top: 10px;
  text-align: center;
}

.payment-number {
  margin-bottom: 30px;
}

.payment-number img {
  position: absolute;
}

.payment-number #payment-visa-icon {
  width: 50px;
  margin-left: 140px;
}

.payment-number #payment-mastercard-icon {
  width: 50px;
  margin-left: 85px;
}

.payment-number #payment-stripe-icon {
  width: 80px;
  margin-top: 13px;
}

@media only screen and (max-width: 550px) {
  .payment-number #payment-visa-icon {
    width: 45px;
  }

  .payment-number #payment-mastercard-icon {
    width: 50px;
    margin-left: 70px;
  }

  .payment-number #payment-stripe-icon {
    width: 60px;
  }

  .container-stripe-form {
    width: 100%;
  }

  #payment_container {
    padding: 0px;
  }

  /* input#name_holder_form {
    width: 89% !important;
  } */

  #payment-form {
    width: 95% !important;
  }
}

#back-payment {
  font-size: 25px;
  display: block;
}

.credit-title {
  font-size: 19px;
  font-weight: bold;
  margin: 10px 0px;
}

.credit-option {
  margin: 20px 0px;
  text-align: center;
}

.credit-wrapper {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  margin: 0px auto;
  text-align: center;
}

.credit-wrapper.active {
  width: 100px;
  height: 100px;
  border: 2px solid #56aacd;
  border-radius: 5px;
  display: block;
  margin: 0px auto;
  text-align: center;
}

.credit-wrapper p {
  font-size: 23px;
  font-weight: bold;
  margin-top: 30%;
}

.credit-wrapper.active p {
  font-size: 23px;
  font-weight: bold;
  margin-top: 30%;
  color: #56aacd;
}

.bonus {
  margin: 10px 0px;
  display: block;
  width: 100%;
}

#payment-infor-text {
  color: #727272;
  margin-top: 10px;
}

/* Style for file payment_stripe_form.js */
.StripeElement, #name_holder_form {
  height: 40px !important;
  padding: 10px 12px !important;

  color: #32325d !important;
  background-color: white !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;

  box-shadow: 0 1px 3px 0 #e6ebf1 !important;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease !important;
}

input:focus,
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a !important;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.container-stripe-form {
  background-color: #f7f8f9;
  color: #727272;
}

input#name_holder_form {
  padding: 0px 12px !important;
  width: 94%;
}

#payment-stripe-form {
  margin-top: 25px;
  border: none;
  border-radius: 15px;
  padding: 7px 30px;
  background-color: #56AACD;
  color: #FFFFFF;
  letter-spacing: 0.025em;
  font-weight: 600;
  font-size: 15px;
  outline: none;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  transition: all 150ms ease;
}

#payment-stripe-form:hover {
  background-color: #407E97;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}

button#payment-stripe-form[disabled] {
  cursor: default;
  background-color: #727272;
}

button#payment-stripe-form[disabled]:hover {
  transform: none;

}

#payment-form {
  height: 100%;
  width: 73%;
  margin: auto;
  padding: 30px 0px;
}

#card-errors {
  color: #EB5F55;
  margin-top: 5px;
}

.total-fee-payment {
  margin-top: 45px;
  margin-right: 0px !important;
}

.total-text-payment {
  color: #727272;
  font-size: 16px;
}

.total-amount-payment, .total-text-payment {
  font-weight: 600;
}

.fee-text-payment {
  color: #727272;
  font-size: 14px;
}

.total-fee-payment, .fee-text-payment  {
  font-weight: 500;
}
/* end style for file payment_stripe_form.js */