.dish-card {
    border-radius: 7px;
    min-height: 100px;
    margin: 20px 0px;
    cursor: pointer;
    background: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.09);
}

.dish-card .thumbnail {
    position: relative;
    padding-bottom: 56.2%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 4px 4px 0px 0px;
    position: relative;
}


.dish-card .thumbnail .like-container {
    position: absolute;
    top: 5px;
    left: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 24px;
}

.dish-card .dish-card-title {
    font-size: 16px;
    margin: 10px 0px 0px 0px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 10px;
}

.dish-card .dish-card-title:hover {
    text-decoration: underline;
}

.dish-card .rating-wrapper {
    display: inline-flex;
    width: 100%;
    margin: 5px 10px;
}

.dish-card .dish-meta-price-option {
    display: block;
    margin: 0px 10px;
}

.dish-card .dish-price {
    color: #000;
    font-size: 13px;
    font-weight: bold;
}

.dish-card .dish-tags {
    margin: 0px;
    font-size: 11px;
    color: #4c4c4c;
    padding: 0px 10px;
}

.dish-card .dish-tags li {
    padding: 0px 2px;
    display: inline-flex;
    align-items: center;
}

.dish-card .dish-tags li:first-child {
    padding: 0px;
}

.dish-card .dish-tags li:first-child:before {
    content: '';
    font-size: 0px;
    margin: 0px;
}

.dish-card .dish-tags li:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f111";
    font-size: 5px;
    margin: 5px;
}