<template name = "kitchen_followup">
  <div class = "message_wrapper container valign-wrapper" style="height:100vh;">
    <div class = "row" style="width: 100%;">
      <div class = "verified_message col xl6 l6 m8 s12 offset-xl3 offset-l3 offset-m2">
        <h4 class = "bp-blue-text center-align">
          Log in successfully.
          <br>
          <br>
          But, it seems you haven't created your kitchen profile yet.</h4>
        <h6 class = "center-align">
          Would you like to do it now?
        </h6>
        <br>
        <div class = "row">
          <div class = "col xl6 l6 m6 s12">
            <a class="waves-effect waves-light btn-flat" id="go_showroom" href="/">No thanks</a>
          </div>
          <div class = "col xl6 l6 m6 s12">
            <a class="waves-effect waves-light btn" id="create_homecook_profile" href="/profile/create_homecook_profile/">Yes please</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
