.request_card {
  position: relative;
  height: auto;
  overflow-x: visible;
  white-space: normal;
  width: 250px !important;
  margin: 6px !important;
  vertical-align: top;
}

.cooking_card_profile_picture{
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.empty_text_wrapper {
  display: flex;
  height: 60vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.confirmed_order_wrapper {
  overflow-x: visible;
  overflow: scroll;
}

#foodie_name {
  display: inline-block;
}

.orders_wrapper {
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
  padding-left: 6px;
  width: auto;
  -webkit-overflow-scrolling: touch;

}
