#ordering-popup.ordering-popup-infor {
    min-height: 55% !important;
    height: auto !important;
}

#phone_ordering {
    width: 100%;
}

.verify-btn {
    width: 92%;
    text-align: center;
    font-size: 0.8rem;
    padding: 1px 6px;
}

.verify-btn:hover {
    color: #fff;
    background-color: #56AACD;
    cursor: pointer;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    #ordering-popup.ordering-popup-infor {
        /* height: 55% !important; */
        width: 43% !important;
        overflow: hidden !important;
    }

    #district-option {
        display: inline-block;
        /* margin-left: 2%; */
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    #ordering-popup.ordering-popup-infor {
        top: 23% !important;
        /* height: 60% !important; */
        width: 50% !important;
        overflow: hidden !important;
    }

    #district-option {
        /* margin-left: 1%; */
        display: inline-block;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    #ordering-popup.ordering-popup-infor {
        top: 23% !important;
        /* height: 59% !important; */
        width: 54% !important;
        overflow: hidden !important;
    }

    #have-accn-text {
        text-align: left;
        float: none !important;
    }

    #ordering-popup .get-info {
        height: 90px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    #have-accn-text {
        text-align: left;
        float: none !important;
    }

    #ordering-popup .get-info {
        height: 90px;
    }

    #ordering-popup.ordering-popup-infor {
        top: 23% !important;
        /* height: 58% !important; */
        width: 62% !important;
        overflow: hidden !important;
    }
}

@media (max-width: 690px) {
    #ordering-popup.modal-footer {
        border-radius: 0 0 20px 20px!important;
    }
    #ordering-popup.ordering-popup-infor {
        top: 13% !important;
        /* height: 60% !important; */
        width: 62% !important;
        overflow: hidden !important;
    }
}

@media (max-width: 640px) {
    #ordering-popup.modal-footer {
        border-radius: 0 0 20px 20px!important;
    }
    #ordering-popup.ordering-popup-infor {
        /* height: 65% !important; */
        width: 72% !important;
        overflow: hidden !important;
    }
}

/* Portrait phones and smaller 480*/
@media (max-width: 520px) {
    #have-accn-text {
        position: absolute;
        top: -50px;
    }

    #ordering-popup .get-info {
        height: 70px;
    }

    #ordering-popup.modal-footer {
        border-radius: 0 0 20px 20px!important;
    }
    #ordering-popup.ordering-popup-infor {
        top: 0% !important;
        height: 100% !important;
        width: 100% !important;
    }

    #ordering-popup .modal-content {
        margin-top: 50px;
    }
}

#have-accn-text {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.handle-login-text {
    cursor: pointer;
    text-decoration: underline;
}

#btn-back-to-info {
    position: absolute;
    font-size: 20px;
    z-index: 1;
    cursor: pointer;}

#email-distric-display {
    display: inline;
}

#district_ordering {
    border: none;
    padding-left: 10px;
    border-radius: 0px!important;
    background-color: transparent;
    border-bottom: 1px solid #9e9e9e;
    -webkit-appearance: button;
    margin-top: 15px;
}

#district-option {
    position: relative;
}

.dropdown-arrow {
    position: absolute;
    right: 15px;
    bottom: 10px;
}