<!--<template name='profile'>
  <div id='profile'>

  </div>
</template>


<template name="create_foodie_profile">
  <div id="foodie" class="col l12">
      {{>create_foodie_profile}}
  </div>
</template>

<template name="edit_foodie_profile">
  <div id="foodie" class="col l12">
      {{>edit_foodie_profile}}
  </div>
</template>


<template name='show_foodie_profile'>
  <div id="foodie" class="col l12">
      {{>show_foodie_profile}}
  </div>
</template>

<template name="create_homecook_profile">
  <div id="foodie" class="col l12">
      {{>create_homecook_profile}}
  </div>
</template>

<template name="edit_homecook_profile">
  <div id="foodie" class="col l12">
      {{>edit_homecook_profile}}
  </div>
</template>


<template name='show_homecook_profile'>
  <div id="foodie" class="col l12">
      {{>edit_homecook_profile}}
  </div>
</template> -->
<!-- Tab
<template name='foodie_homecook_tab'>
<div class="row col l12s">
  <ul class="tabs">
    <li class="tab col l2"><a class="active" href="#foodie">FOODIE</a></li>
    <li class="tab col l2"><a href="#homecook">HOMECOOK</a></li>
  </ul>
</div>
</template>-->
