<template name = "spinner">
  <div class="preloader-wrapper small active profile_img_preloader center-align">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</template>

<template name = "spinnerWhite">
  <div class="preloader-wrapper small active profile_img_preloader center-align">
    <div class="spinner-layer">
      <div class="circle-clipper white-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper white-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</template>
