<template name = 'access_deny'>
  <div class = 'bp-red' style = 'height: 100vh; width: 100vw'>
    <div class = 'container center'>
      <div class = 'section'>
        <img src="https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/logo.svg" alt="logo" class="logo">
      </div>
      <div class = 'section'>
        <p style = 'font-size: 7rem;'>🤷🏻‍</p>
        <h4 class = 'white-text'>I'm sorry... <br><br>You don't have the right to access this page.</h4>
      </div>
      <div class = 'section'>
        <a class = 'btn-flat white-text' href = '/'>return to main page</a>
      </div>
    </div>
  </div>
</template>
