/* CSS declarations go here */

.left24px{
  margin-left:24px;
}

.top24px{
  margin-top:24px;
}

/*
.button{
float:right;
}
*/
.left{
float: left;
margin-left: 0px;
padding: 0px;
}

#cancel_signup {
  position: absolute;
  display: inline-block;
  top: 1px;
  right: 1px;
}

#signup {
  margin: 16px;
}

#signup_modal .row .col {
  float: none;
  margin: 0 auto;
}

#have-accn-login {
  color: #727272;
  font-size: 13px;
}

.btn:hover, .btn:focus {
  background-color: #407E97 !important;
}

.btn-signup-text {
  margin-bottom: 30px !important;
}

.signup-page-main-page {
  position: fixed;
  top: 20px;
  left: 45px;
  cursor: pointer;
}

#signup-district-option {
  border: none;
  border-bottom: 1px solid #9e9e9e;
}

#signup-district {
  margin-bottom: 23px;
  margin-top: -3px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .btn-signup-text {
    margin-bottom: 40px;
  }

  .make-food-signup {
    font-size: 21.5px;
  }

  .join-food-signup {
    font-size: 19px
  }

  .district-question-text {
    font-size: 24px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .btn-signup-text {
    margin-bottom: 40px;
  }

  .make-food-signup {
    font-size: 20.5px;
  }

  .join-food-signup {
    font-size: 18px
  }

  .district-question-text {
    font-size: 23px;
  }
}

@media (max-width: 640px) {

  .btn-signup-text {
    margin-bottom: 40px;
  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 520px) {

  .btn-signup-text {
    margin-bottom: 0px;
  }

  .make-food-signup {
    font-size: 18.5px;
  }

  .join-food-signup {
    font-size: 16px
  }

  .district-question-text {
    font-size: 21px;
  }
}