/* CSS declarations go here */

.left24px{
  margin-left:24px;
}

.top24px{
  margin-top:24px;
}

/*
.button{
float:right;
}
*/
.left{
float: left;
margin-left: 0px;
padding: 0px;
}

#cancel_signup {
  position: absolute;
  display: inline-block;
  top: 1px;
  right: 1px;
}

#signup {
  margin: 16px;
}

#signup_modal {
  min-height: 565px !important;
}

@media (max-width: 768px) {
  .modal {
    border-radius: 0px !important;
    top: 0vh !important;
    height: 100vh !important;
    width: 100vh !important;
    overflow: scroll !important;
  }
}

@media (max-height: 680px) {
  .modal {
    border-radius: 0px !important;
    top: 0vh !important;
    height: 100vh !important;
    width: 100vh !important;
    overflow: scroll !important;
  }
}
