<template name = "promotion_modal">
    {{#if currentUser}}
        <div id="promotion_modal" class="modal">
            <div class="modal-content">
                <h4>Congratulation</h4>
                <button class="modal-close btn-floating transparent z-depth-0 waves-effect waves-red login_cancel_btn" id="cancel_promotion"><i class="black-text medium material-icons">close</i></button>
                <p>At blueplate, our chefs make great food we know you’ll love.  We’re so sure of it that we’ll give you $HKD {{ promotion_amount }} credits to try food from our home chef.</p>
                <p>Please login to claim your credit now and you could be eating a delicious home cooked dish tonight.</p>
                <p>Don’t wait too long, our offer expires on <b>27 October 2018.</b></p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="btn modal-close waves-effect waves-green btn-flat" style="width: auto " onClick="location.href = '/'">Collect</a>
            </div>
        </div>
    {{else}}
        <div id="promotion_modal" class="modal">
            <div class="modal-content">
              <h4>Congratulation</h4>
              <button class="modal-close btn-floating transparent z-depth-0 waves-effect waves-red login_cancel_btn" id="cancel_promotion"><i class="black-text medium material-icons">close</i></button>
              <p>At blueplate, our chefs make great food we know you’ll love.  We’re so sure of it that we’ll give you $HKD {{ promotion_amount }} credits to try food from our home chef.</p>
              <p>Please login to claim your credit now and you could be eating a delicious home cooked dish tonight.</p>
              <p>Don’t wait too long, our offer expires on <b>27 October 2018.</b></p>
              <p></p>
              <p>
                <span>Haven't got account?</span>
                <a class= "modal-trigger chef_signup" href="#signup_modal"> Sign up</a>
              </p> 
            </div>
            <div class="modal-footer">
              <a href="#!" class="btn modal-close waves-effect waves-green btn-flat" style="width: auto" onClick="util.loginAccession('')" >Login</a>
            </div>
        </div>
    {{/if}}
</template>