@media only screen and (max-width: 1024px) {
    #cancel_promotion {
        display: block!important;
        position: absolute;
        top: 15px;
        right: 0px;
    }

    #promotion_modal .modal-content {
        padding-top: 240px!important;
    }
}

#cancel_promotion {
    display: none;
}

#promotion_modal {
    overflow: inherit;
}

#promotion_modal .modal-content {
    padding-top: 135px;
}

#promotion_modal.custom_theme_modal .modal-content {
    padding-top: 35px;
    padding-right: 25%;
}

#promotion_modal.custom_theme_modal .modal-content #close_promotion_popup{
    background-color: #FB9D09;
    width: 110px!important;
    position: absolute;
    bottom: 20px;
    right: 20px;
}


#promotion_modal.custom_theme_modal .modal-content #web_2{
    position: absolute;
    top: -30px;
    left: 230px;
}

#promotion_modal.custom_theme_modal .modal-content #web{
    position: absolute;
    top: -60px;
    right: -30px;
}

#promotion_modal.custom_theme_modal .modal-content #bat_2{
    position: absolute;
    bottom: 80px;
    right: 20px;
}

#promotion_modal.custom_theme_modal .modal-content #bat{
    position: absolute;
    bottom: 180px;
    right: 20px;
    width: 120px;
}

#promotion_modal.custom_theme_modal .modal-content #pumpkin{
    position: absolute;
    bottom: 15px;
    right: 150px;
    width: 120px;
}

#promotion_modal.custom_theme_modal .modal-content #bottom-ribbon{
    background: url(https://s3-ap-southeast-1.amazonaws.com/blueplate-images/images/halloween/candy.png) repeat-x;
    height: 20px;
    bottom: 0px;
    display: block;
    background-size: contain;
    margin-bottom: -20px;
    margin-top: 20px;
    width: 80%;
}

#promotion_modal.promotion_infor {
    top: 25% !important;
    height: auto !important;
    width: 50% !important;
    border-radius: 15px !important;
}

#promotion_modal .modal-footer {
    border-radius: 15px!important;
}

#promotion_modal.promotion_infor.custom_theme_modal .modal-content h4 {
    color: #FB9D09!important;
}

/* #promotion_modal.promotion_infor.custom_theme_modal .modal-content p {
    color: #FB9D09!important;
} */

/* Large desktops and laptops */
@media (min-width: 1200px) {
    #promotion_modal.promotion_infor {
        top: 23% !important;
        width: 40% !important;
        border-radius: 15px !important;
        /* overflow: hidden !important; */
    }
    #promotion_modal #reminder_promotion_images {
        top: -30px!important;
    }
    #promotion_modal.custom_theme_modal #reminder_promotion_images {
        top: -75px!important;
        left: 120px;
    }
    #promotion_modal.promotion_infor.custom_theme_modal {
        width: 70% !important;
        border-radius: 15px !important;
        /* overflow: hidden !important; */
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    #promotion_modal.promotion_infor {
        top: 23% !important;
        width: 50% !important;
        border-radius: 15px !important;
        /* overflow: hidden !important; */
    }
    #promotion_modal #reminder_promotion_images {
        top: -140px!important;
    }
    #promotion_modal .modal-content {
        padding-top: 160px!important;
    }
    #promotion_modal.custom_theme_modal .modal-content {
        padding-top: 35px!important;
        padding-right: 25%;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #web_2{
        position: absolute;
        top: -30px;
        left: 230px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #web{
        position: absolute;
        top: -60px;
        right: -30px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #bat_2{
        position: absolute;
        bottom: 60%;
        right: 20px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #bat{
        position: absolute;
        /* bottom: 80px; */
        right: 20px;
        width: 120px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #pumpkin{
        position: absolute;
        bottom: 30%;
        right: 80px;
        width: 120px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #bottom-ribbon{
        background: url(https://s3-ap-southeast-1.amazonaws.com/blueplate-images/images/halloween/candy.png) repeat-x;
        height: 20px;
        bottom: 0px;
        display: block;
        background-size: contain;
        margin-bottom: -20px;
        margin-top: 20px;
        width: 80%;
    }
    
    #promotion_modal.custom_theme_modal #reminder_promotion_images {
        top: -75px!important;
        left: 120px;
    }
    #promotion_modal.promotion_infor.custom_theme_modal {
        width: 80% !important;
        border-radius: 15px !important;
        /* overflow: hidden !important; */
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    #promotion_modal.promotion_infor {
        top: 23% !important;
        width: 54% !important;
        border-radius: 15px !important;
        /* overflow: hidden !important; */
        height: 30%!important;
    }
    #promotion_modal #reminder_promotion_images {
        top: -120px!important;
    }
    #promotion_modal .modal-content {
        padding-top: 160px!important;
    }
    #promotion_modal.custom_theme_modal .modal-content {
        padding-top: 20px!important;
        padding-right: 25%;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #web_2{
        position: absolute;
        top: -30px;
        left: 230px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #web{
        position: absolute;
        top: -60px;
        right: -30px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #bat_2{
        position: absolute;
        bottom: 85%;
        right: 10px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #bat{
        position: absolute;
        bottom: 90%;
        right: 20px;
        width: 120px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #pumpkin{
        position: absolute;
        bottom: 40%;
        right: 10px;
        width: 120px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #bottom-ribbon{
        background: url(https://s3-ap-southeast-1.amazonaws.com/blueplate-images/images/halloween/candy.png) repeat-x;
        height: 20px;
        bottom: 0px;
        display: block;
        background-size: contain;
        margin-bottom: -20px;
        margin-top: 20px;
        width: 100%;
    }
    
    #promotion_modal.custom_theme_modal #reminder_promotion_images {
        top: -237px!important;
        left: 120px;
    }
    #promotion_modal.promotion_infor.custom_theme_modal {
        width: 70% !important;
        border-radius: 15px !important;
        /* overflow: hidden !important; */
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    #promotion_modal.promotion_infor {
        top: 23% !important;
        width: 62% !important;
        border-radius: 15px !important;
        /* overflow: hidden !important; */
    }
    #promotion_modal #reminder_promotion_images {
        top: -160px!important;
    }
    #promotion_modal .modal-content {
        padding-top: 30px!important;
    }
    #promotion_modal.custom_theme_modal .modal-content {
        padding-top: 35px;
        padding-right: 25%;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #web_2{
        position: absolute;
        top: -30px;
        left: 230px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #web{
        position: absolute;
        top: -60px;
        right: -30px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #bat_2{
        position: absolute;
        bottom: 30px;
        right: 20px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #bat{
        position: absolute;
        bottom: 80px;
        right: 20px;
        width: 120px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #pumpkin{
        position: absolute;
        bottom: 0px;
        right: 150px;
        width: 120px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #bottom-ribbon{
        background: url(https://s3-ap-southeast-1.amazonaws.com/blueplate-images/images/halloween/candy.png) repeat-x;
        height: 20px;
        bottom: 0px;
        display: block;
        background-size: contain;
        margin-bottom: -20px;
        margin-top: 20px;
        width: 80%;
    }
    
    #promotion_modal.custom_theme_modal #reminder_promotion_images {
        top: -237px!important;
        left: 50%;
    }
    #promotion_modal.promotion_infor.custom_theme_modal {
        width: 70% !important;
        border-radius: 15px !important;
        /* overflow: hidden !important; */
    }
}

@media (max-width: 640px) {
    #promotion_modal.promotion_infor {
        top: 23% !important;
        width: 72% !important;
        border-radius: 15px !important;
        /* overflow: hidden !important; */
    }
    #promotion_modal #reminder_promotion_images {
        top: -160px!important;
    }
    #promotion_modal .modal-content {
        padding-top: 40px!important;
    }
    #promotion_modal.custom_theme_modal .modal-content {
        padding-top: 35px;
        padding-right: 25%;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #web_2{
        position: absolute;
        top: -30px;
        left: 230px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #web{
        position: absolute;
        top: -60px;
        right: -30px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #bat_2{
        position: absolute;
        bottom: 30px;
        right: 20px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #bat{
        position: absolute;
        bottom: 80px;
        right: 20px;
        width: 120px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #pumpkin{
        position: absolute;
        bottom: 0px;
        right: 150px;
        width: 120px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #bottom-ribbon{
        background: url(https://s3-ap-southeast-1.amazonaws.com/blueplate-images/images/halloween/candy.png) repeat-x;
        height: 20px;
        bottom: 0px;
        display: block;
        background-size: contain;
        margin-bottom: -20px;
        margin-top: 20px;
        width: 80%;
    }
    
    #promotion_modal.custom_theme_modal #reminder_promotion_images {
        top: -237px!important;
        left: 50%;
    }
    #promotion_modal.promotion_infor.custom_theme_modal {
        width: 100% !important;
        border-radius: 15px !important;
        /* overflow: hidden !important; */
    }
}

/* Portrait phones and smaller 480*/
@media (max-width: 520px) {
    #promotion_modal.promotion_infor {
        top: 0% !important; 
        height: 100% !important;
        width: 100% !important;
        border-radius: 0px !important;
        padding-top: 35px;
    }
    #promotion_modal #reminder_promotion_images {
        top: -10px!important;
    }
    #promotion_modal .modal-content {
        padding-top: 130px!important;
    }
    #promotion_modal.custom_theme_modal .modal-content {
        padding-top: 35px;
        padding-right: 5%;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #web_2{
        position: absolute;
        top: -30px;
        left: 230px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #web{
        position: absolute;
        top: -60px;
        right: -30px;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #bat_2{
        position: absolute;
        bottom: 30px;
        right: 20px;
        display: none;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #bat{
        position: absolute;
        bottom: 80px;
        right: 20px;
        width: 120px;
        display: none;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #pumpkin{
        position: absolute;
        bottom: 0px;
        right: 150px;
        width: 120px;
        display: none;
    }
    
    #promotion_modal.custom_theme_modal .modal-content #bottom-ribbon{
        background: url(https://s3-ap-southeast-1.amazonaws.com/blueplate-images/images/halloween/candy.png) repeat-x;
        height: 20px;
        bottom: 0px;
        display: block;
        background-size: contain;
        margin-bottom: -20px;
        margin-top: 20px;
        width: 100%;
    }
    
    #promotion_modal.custom_theme_modal #reminder_promotion_images {
        top: -75px!important;
        left: 50%;
    }
    #promotion_modal.promotion_infor.custom_theme_modal {
        width: 100% !important;
        height: 100vh;
        border-radius: 15px !important;
        /* overflow: hidden !important; */
    }
    #promotion_modal.custom_theme_modal .modal-content #close_promotion_popup {
        background-color: #FB9D09;
        width: 80%!important;
        position: absolute;
        bottom: 10%;
        left: 10%;
    }
}