.cat_navbar {
  display: block;
}

.cat_admin_btn {
  margin: 12px 24px;
  padding: 0px 6px;
}

.cat_admin_btn i {
  vertical-align: middle;
  margin-right: 6px;
}

.category_display {
  width: 100%;
}

#close_input {
  position: absolute;
  top: 0px;
  right: 0px;
}

.cat_save {
  width: 100px !important;
  margin-right: 24px;
}

.cat_update {
  width: 120px !important;
  margin-right: 24px;
}

.cat_icon_uploader {
  width: 200px;
  height: 200px;
  border-radius: 10px
}

.category_display .col {
  padding-left: 10.5px !important;
}

.icon_upload_btn {
  margin-left: 56px;
}

.iconDisplay {
  overflow: auto;
  position: absolute;
  top: 26px;
  left: 26px;
  width: 194px;
  padding: 6px;
  height: 194px;
  border-radius: 10px;
}

.icon_change_btn {
  position: absolute;
  top: 13px;
  width: 194px;
  height: 194px;
}

.icon_change_btn .upload_display {
  position: absolute;
  border-radius: 10px;
  left: 0px;
  width: 194px;
  height: 195px;
  visibility: hidden;
  z-index: 10;
}

.icon_change_btn:hover .upload_display {
  visibility: visible;
  z-index: 10;
  background:rgba(0,0,0,0.6);
  opacity: 0.6;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
}

.card_overlay {
  border-radius: 15px;
  z-index: 1000;
}
