.cards {
  max-width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 25px;
}

.cards .card {
  border-radius: 20px;
}

.dashboard-banner {
  grid-column: span 12;
  height: 300px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  color: white;
}

.dashboard-banner .overlay {
  background: linear-gradient(to right, #0c0c0c91, #ffffff00);
  width: 100%;
  height: 300px;
  border-radius: 20px;
  position: absolute;
}

.dashboard-banner .title {
  color: #fff;
  position: absolute;
  font-size: 2rem;
  z-index: 5;
  top: 5px;
  left: 25px;
}

.dashboard-balance {
  grid-column: span 7;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/credits-background.svg);
  background-repeat: no-repeat;
  background-size: 30% auto;
  background-position-y: center;
  background-position-x: center;
  background-color: #56aacd;
  height: 200px;
  padding: 20px;
  color: #fff;
}

.dashboard-balance .price {
  font-size: 2.75rem;
  display: block;
  margin: 20px 0px;
}

.dashboard-balance .infor-pane {
  grid-column: 1fr;
}

.dashboard-balance .action-pane {
  grid-column: 1fr;
  padding-top: 30px;
}

.dashboard-balance .action-pane button {
  -webkit-appearance: none;
  border: 1px solid #fff;
  background: none;
  width: 70%;
  margin: 5px;
  border-radius: 15px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  float: right;
}

.dashboard-balance .action-pane button:hover {
  background-color: #fff;
  color: #56aacd;
}

.dashboard-balance h5 {
  color: #fff;
  margin-top: 30px;
}

.card-panel{
  border:solid #979797;
  border-radius:15px;
  box-shadow: none;
}

.dashboard-totalviews {
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/views-background.svg);
  background-repeat: no-repeat;
  background-size: 45% auto;
  background-position-y: center;
  background-position-x: center;
  background-color: #eeab21;
  height: 200px;
  padding: 20px;
  color: #fff;
  grid-column: span 5;
}

.dashboard-totalviews .totalview-content * {
  color: #fff;
  text-align: center;
}

.dashboard-totalviews .totalview-content p {
  font-size: 2rem;
}

.dashboard-totalviews .totalview-content h5 {
  font-size: 4rem;
}

.dashboard-topselling {
  height: 350px;
  padding: 20px;
  grid-column: span 5;
}

.dashboard-topselling h1 {
  margin: 0px;
  font-size: 1.5rem;
}

.dashboard-topselling ul {
  margin-top: 40px;
}

.dashboard-topselling ul li {
  margin: 5px 0px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.dashboard-topselling ul li:last-child {
  border-bottom: none;
}

.dashboard-topselling ul li .thumbnail {
  display: inline-block;
  width: 60px!important;
  height: 34px;
  background-position: center center!important;
  background-size: cover!important;
  border-radius: 5px;
}

.dashboard-topselling ul li .dish-title {
  position: absolute;
  top: 0px;
  left: 70px;
  margin: 0px;
  padding: 0px;
}

.dashboard-topselling ul li .order-count {
  float: right;
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
}

.dashboard-totalsales {
  position: relative;
  padding: 20px;
  grid-column: span 7;
  height: 350px;
}

.dashboard-totalsales .wrapper_content {
  width: 100%;
  height: 100%;
}

.dashboard-totalsales .wrapper_content ul.list-option{
  margin: 0px;
  display: inline-flex;
  text-align: right;
  width: 50%;
}

.dashboard-totalsales .wrapper_content ul.list-option li{
  padding: 0px 5px;
  cursor: pointer;
}

.dashboard-totalsales .wrapper_content ul.list-option li.active{
  padding: 0px 5px;
  color: #56aacd;
  text-decoration: underline;
}

.dashboard-totalsales .wrapper_content ul.list-timeframe{
  margin: 0px;
  display: inline-flex;
  text-align: left;
  width: auto;
  float: right;
}

.dashboard-totalsales .wrapper_content ul.list-timeframe li{
  padding: 0px 5px;
  cursor: pointer;
}

.dashboard-totalsales .wrapper_content ul.list-timeframe li.active{
  padding: 0px 5px;
  color: #56aacd;
  text-decoration: underline;
}

ul.list-timeframe li.active{
  padding: 0px 5px;
  color: #56aacd;
  text-decoration: underline;
}

.dashboard-totalsales .wrapper_content .info {
  margin-top: 0px;
  font-size: 18px;
}

.dashboard-totalsales .wrapper_content .info span{
  font-size: 1rem;
}

.dashboard-totalsales .wrapper_content .info h5{
  font-size: 2.7rem;
}

.dashboard-totalsales .wrapper_content .chartjs-render-monitor {
  bottom: 5px;
  position: absolute;
}

.dashboard-conversion {
  background-color: #D8D8D8;
  grid-column: span 6;
  height: 200px;
}

.dashboard-conversion .totalview-content {
  height: 160px;
  margin: 20px;
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/funnel-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 0px;
}

.dashboard-conversion h6 {
  font-size: 1.5rem;
  width: 50%;
}

.dashboard-conversion p {
  font-size: 0.8rem;
  width: 50%;
}

.dashboard-conversion .list-fields {
  position: absolute;
  right: 80px;
  top: 3px;
  text-align: center;
}

.dashboard-conversion .list-fields li {
  padding: 5px 0px;
}

.dashboard-conversion .viewsPerSales {
  position: absolute;
  right: 125px;
  top: 60px;
  width: 100px;
  border-bottom: 1px solid;
}

.dashboard-summaryorder {
  grid-column: span 6;
  height: 200px;
  padding: 20px;
}

.dashboard-summaryorder .ordersummary_content ul li:before {
  content: ' ';
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #B1DBBE;
  border-radius: 50%;
  margin-right: 20px;
}

.dashboard-summaryorder .ordersummary_content ul li {
  font-size: 1rem;
}

.dashboard-support {
  grid-column: span 12;
  background-color: #B1DBBE;
  height: 200px;
  text-align: center;
}

.dashboard-support .icon {
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/headset-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 120px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -180px;
  top: 20px;
}

.dashboard-support .support-content {
  color: #fff;
  text-align: left;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 20px;
}

.dashboard-support .support-content h7 {
  color: #fff;
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

.dashboard-support .support-content span {
  color: #fff;
  display: block;
  font-size: 1rem;
  padding: 0px 0px 20px 0px;
}

.dashboard-support .support-content button {
  color: #fff;
  display: block;
  -webkit-appearance: none;
  background: none;
  border: 1px solid #fff;
  padding: 5px 50px;
  border-radius: 15px;
}

.dashboard-support .support-content button:hover {
  color: #B1DBBE;
  display: block;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #fff;
  padding: 5px 50px;
  border-radius: 15px;
}

.dashboard-summary {
  grid-column: span 12;
  padding: 20px;
}

.dashboard-summary .wrapper_content ul {
  display: inline-flex;
}

.dashboard-summary .wrapper_content ul li {
  padding: 0px 10px;
  cursor: pointer;
}

.dashboard-summary .wrapper_content ul li.active {
  text-decoration: underline;
  cursor: pointer;
  color: #56AACD;
}

@media (max-width: 600px) {
  .cards .card {
    grid-column: span 12;
  }
}
