.dashboard-block-wrapper {
  margin: 20px 0px;
}
.amount-wrapper {
  background-color: #EEAB21;
  padding: 20px!important;
  border-radius: 5px;
  border: 1px solid #ccc;
  overflow: hidden;
  height: 120px;
}

.amount-wrapper h5 {
  font-weight: 300;
}

.amount-wrapper span.price {
  font-weight: bold;
  font-size: 1.2em;
}

.totalviews_wrapper {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  height: 120px;
}

.totalviews_wrapper .totalview-content {
  position: absolute;
  top: 20%;
  padding: 0px 10px;
}

.totalviews_wrapper .totalview-content h5{
  font-size: 3.5em;
}

.totalsales_wrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 25px;
  position: relative;
}

.totalsales_wrapper .wrapper_content {
  margin-top: 10px;
}

.totalsales_wrapper .wrapper_content .list-option {
  list-style: none;
  display: inline-flex;
  position: absolute;
  font-size: 0.8em;
  right: 20px;
  top: 0px;
}

.totalsales_wrapper .wrapper_content .list-option span{
  margin-top: 20px;
  font-size: 18px;
}

.totalsales_wrapper .wrapper_content h5{
  font-size: 3.5em;
}

.totalsales_wrapper .wrapper_content .list-option li{
  margin: 0px 10px;
  cursor: pointer;
}

.totalsales_wrapper .wrapper_content .list-option li.active{
  margin: 0px 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.conversion_wrapper {
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px!important;
}

.ordersummary_wrapper {
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px!important;
}

.ordersummary_wrapper .ordersummary_content ul {
  font-size: 1.2em;
  padding-left: 20px;
  position: relative;
}

.ordersummary_wrapper .ordersummary_content ul li {
  margin: 10px 0px;
}

.ordersummary_wrapper .ordersummary_content ul li .dot{
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 50%;
  display: inline-block;
}

.ordersummary_wrapper .ordersummary_content ul li .dot.pending{
  background-color: rgb(235, 255, 57);
}

.ordersummary_wrapper .ordersummary_content ul li .dot.confirmed{
  background-color: rgb(70, 37, 255);
}

.ordersummary_wrapper .ordersummary_content ul li .dot.completed{
  background-color: rgb(0, 255, 64);
}

.ordersummary_wrapper .ordersummary_content ul li .dot.rejected{
  background-color: rgba(211, 60, 60, 0.644);
}

.summary_wrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px!important;
}

.summary_wrapper ul {
  display: inline-flex;
}

.summary_wrapper ul li{
  margin: 0px 20px;
  font-size: 16px;
  cursor: pointer;
}

.summary_wrapper ul li.active{
  border-bottom: 3px solid rgb(235, 50, 50);
}

.summary_wrapper ul li:first-child{
  margin-left: 0px!important;
}