<template name = "cooking_dashboard">
<div class="container">
  <h1 class="welcome">Hi Chef! Welcome back!</h1>
  <div class="row">
    <div class="banner col s12 m12 l12 xl12">
    </div>
  </div>


  <div class="row">
    <div class="col s12 m8 l8 xl8">
      <div class="card-panel balance">current balance</div>
    </div>

    <div class="col s12 m4 l4 xl4">
      <div class="card-panel view">total views</div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4 l4 xl4">
      <div class="card-panel top-selling-menu">top selling menu</div>
    </div>
    <div class="col s12 m8 l8 xl8">
      <div class="card-panel total-sales">total sales</div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m8 l8 xl8">
      <div class="card-panel conversion">conversion</div>
    </div>
    <div class="col s12 m4 l4 xl4">
      <div class="card-panel order">order</div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m7 l7 xl7">
      <div class="card-panel demographics">buyer demographics</div>
    </div>
    <div class="col s12 m5 l5 xl5">
      <div class="card-panel help-med-up">help for medium and upper screen size</div>
    </div>
  </div>

  <div class="row">
    <div class="col table s12 m12 l12 xl12">
      <table class="responsive-table">
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>A</td>
            <td>E</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>A</td>
            <td>J</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jo</td>
            <td>L</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="help-small col s6 offset-s3 m12 l12 xl12"> Helps for small screen
    </div>
  </div>








</div>
</template>

<!-- <div class="row">
  <div class="col s12 m12 l12 xl12">
  </div>
</div> -->
