<template name = "change_password">
  <div class = "container center">
    <form class = "card" style = "width: 400px;">
      <div class = 'card-image valign-wrapper' id='reset_logo_background'>
        <img id='reset_password_logo' src='https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/logo.svg'/>
      </div>
      <div class = "card-content">
        <h6 class = "left-align">Change user password</h6>
        <p>For internal user only</p>
        <br>
        <div class="input-field">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">New Password</label>
        </div>
        <div class="input-field col s12">
          <input id="confirm_password" type="password" class="validate">
          <label for="confirm_password">Confirm New Password</label>
        </div>
        <div class="input-field col s12">
          <input id="admin_password" type="password" class="validate">
          <label for="admin_password">Your Admin Password</label>
        </div>
        <div class = "btn" id="btn_submit_change_password">submit</div>
      </div>
    </form>
  </div>
</template>
