.filter_wrapper_span_mobile {
    position: initial;

}

.filter_wrapper_span_dekstop {
    position: relative;
}

.filter-list {
    display: inline-block;
    margin: 15px 0px;
    width: 100%;
}

.filter-list li:hover {
    cursor: pointer;
    background-color: #efefef;
    color: #000;
    border: 1px solid transparent;
}

.filter-list li.active {
    background-color: #32abd1;
    border: 1px solid transparent!important;
    color: #fff;
}

.filter-list li {
    padding: 5px 15px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 5px 10px;
    border-radius: 15px;
    font-size: 1rem;
}

.list-filter-content-location li {
    border: none;
    width: 100%;
    margin: 0px;
    line-height: 1.9rem;
    vertical-align: middle;
    padding: 10px 20px;
    display: inline-flex;
}

.list-filter-content-location li:before {
    content: '';
    position: relative;
    height: 30px;
    width: 30px;
    top: 1px;
    left: -5px;
    background: url('https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/location-icon.svg') center center no-repeat;
    background-size: contain;
}

.list-filter-content-location li:hover {
    cursor: pointer;
    background-color: rgba(74, 159, 195, 0.28);
    color: #000;
}

.list-filter-content-location li.active {
    cursor: pointer;
    background-color: rgba(74, 159, 195, 0.28);
    color: #000;
}

#PlacesAutocomplete__root {
    width: 100%;
}

#PlacesAutocomplete__root input {
    padding: 0px !important;
    margin: 0px;
    height: 30px;
}

#PlacesAutocomplete_autocomplete-container {
    top: 175% !important;
}

.filter-popup {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-top: 10px;
    min-height: 200px;
    z-index: 100;
    min-width: 580px;
    max-width: 650px;
    word-wrap: break-word;
    left: 0px;
}

.location-filter {
    margin-left: 0px!important;
}

.location-filter.active {
    background-color: #56AACD;
    color: #fff;
}

.time-filter {
    position: relative;
}

.time-filter.active {
    background-color: #56AACD;
    color: #fff;
}

.time-popup-wrapper {
    margin-top: 10px;
    width: 250px!important;
    min-width: 250px!important;
    left: 0px;
}

.time-popup-wrapper input {
    text-align: center;
    width: 150px;
    margin: 20px auto;
    display: block;
}

.date-popup-wrapper {
    margin-top: 10px;
    width: 250px!important;
    min-width: 250px!important;
    left: 0px;
}

.filter-popup .btn {
    margin: 5px 0px 5px 0px;
}

.DayPicker_weekHeader_ul {
    display: none!important;
}

.DayPickerKeyboardShortcuts_buttonReset {
    display: none!important;
}

.DayPicker_transitionContainer {
    min-height: 400px!important;
}

.date-popup-wrapper input {
    text-align: center;
    width: 100%!important;
    margin: 20px auto!important;
    display: block;
}

.SingleDatePicker {
    width: 100%;
}

.SingleDatePickerInput {
    width: 100%;
}

.DateInput {
    margin: 0!important;
    padding: 0!important;
    background: #fff!important;
    position: relative;
    display: inline-block!important;
    width: 100%!important;
    vertical-align: middle!important;
}

.list-serving-option li {
    padding: 15px 20px;
    width: 100%;
    margin: 0px;
    min-height: 40px;
    border-radius: 0px;
    border: none;
    display: inline-flex;
}

.list-serving-option li:hover {
    background-color: rgb(226, 226, 226)!important;
    color: #000!important;
    border: 1px solid transparent;
}

.list-serving-option li.active {
    background-color: rgba(74, 159, 195, 0.56);
}

.serving-option-popup-wrapper {
    margin-top: 10px;
    width: 550px!important;
    min-width: 550px!important;
    left: 0px;
}

.serving-option-popup-wrapper .serving-option-title {
    display: block;
}

.searchinput {
    margin-left: 18px!important;
    width: 600px !important;
    color: #000;
    border-radius: 15px!important;
    border: 1px solid #ccc!important;
    padding: 0px 10px!important;
    padding-right: 45px!important;
    background-color: #fff!important;
    background-image: url('https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/search-icon.svg');
    background-position: 97% 50%;
    background-repeat: no-repeat;
    margin-bottom: 0px !important;
    position: relative;
    top: -5px;
}

@media screen and (max-width: 1024px) {
    .searchinput {
      width: 400px !important;
      padding: 0px 10px!important;
      border-radius: 15px!important;
      margin-bottom: 0px !important;
      position: relative;
      top: -5px;
    }
}

@media screen and (max-width: 920px) {
    .searchinput {
      width: 300px !important;
      padding: 0px 10px!important;
      border-radius: 15px!important;
      margin-bottom: 0px !important;
      position: relative;
      top: -5px;
    }
}

@media only screen and (max-width: 768px) {
    .filter-popup {
        position: absolute;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        word-wrap: break-word;
        z-index: 999;
        left: 0px;
        width: 100%!important;
        max-width: 100%;
        min-width: 100%;
        top: 0px;
        margin: 0px;
        height: 100vh;
    }
    .date-popup-wrapper {
        margin-top: 0px;
        width: 100vw!important;
        min-width: 100vw!important;
    }
    .serving-option-popup-wrapper {
        margin-top: 10px;
        width: 100%!important;
        min-width: 100%!important;
        left: 0px;
    }
    .searchinput {
        width: calc(100vw - 230px) !important;
        padding: 0px 10px!important;
        border-radius: 15px!important;
        margin-bottom: 0px !important;
        position: relative;
        top: -5px;
    }
    #cart-icon {
        display: none!important;
    }
    ul.right > a {
        display: none!important;
    }
}

@media screen and (max-width: 500px) {
    .searchinput {
        width: calc(100vw - 230px) !important;
        padding: 0px 10px;
        margin-left: 0px!important;
        border-radius: 15px!important;
        margin-bottom: 0px!important;
        position: relative;
        top: -5px;
    }

    .filter-list {
        display: inline-flex;
        margin: 15px 0px;
        width: 100%;
        overflow-x: scroll;
    }
}
