<template name = "hkid">
  <section class="feature">
      <a class="waves-effect waves-dark clear-icon"><i class="material-icons">clear</i></a>
      <div class="container">
        <div class="id_images">
          <img src="http://www.immd.gov.hk/images/services/hkid_front.jpg" />
        </div>
      </div>
  </section> <!--- section feature -->

  <div class="container">
    <div class="row">
      <div class="col s6 title">
        <h2>HKID</h2>
      </div>
      <div class="col s6 control">
        <ul>
          <li><a class="waves-effect waves-light white"><i class="material-icons">bookmark_border</i></a></li>
          <li><a class="waves-effect waves-light white"><i class="material-icons">share</i></a></li>
        </ul>
      </div>
    </div> <!-- header -->

    <div class="row">
      <div class="input-field col s6">
          <input id="eng_name" type="text" class="validate">
          <label>English name</label>
      </div>
      <div class="input-field col s6">
        <input id="chn_name" type="text" class="validate">
        <label>Chinese name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
          <input id="hkid_no" type="text" class="validate">
          <label>HKID No</label>
      </div>
      <div class="input-field col s6">
        <input id="dcb" type="text" class="validate">
        <label>DCB</label>
      </div>
    </div>

    <div class="row">
        <div class="col l6 offset-l3">
          <div class="row">
            <p class="col l6" style="text-align: center">
              <input type="checkbox" class="filled-in" id="female" checked="checked" />
              <label for="female">Female</label>
            </p>
            <p class="col l6" style="text-align: center">
              <input type="checkbox" class="filled-in" id="male" checked="checked" />
              <label for="male">Male</label>
            </p>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="input-field col l12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
      </div>
    </div>

    <div class="row">
      <div class="col l12" style="text-align: right">
          <a class="waves-effect waves-dark btn light-btn">Edit</a>
          <a class="waves-effect waves-light btn">Save</a>
      </div>
    </div>

  </div><!-- conatiner of content -->

</template>
