.payment-wrapper {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}

.payment-method {
    height: 200px;
}

#credits {
    background: url('https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/credits.svg') no-repeat;
    background-position: center center;
    background-size: contain;
}

#card {
    background: url('https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/card.svg') no-repeat;
    background-position: center center;
    background-size: contain;
}

#card.disable {
    background: url('https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/card.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-filter: grayscale(100%);
    filter: gray;
}

.payment-wrapper .text {
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: #55abcd;
    font-size: 29px;
    font-weight: bold;
    width: 100%;
    display: block;
}

.payment-wrapper .sub-text {
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: #55abcd;
    font-size: 15px;
}

#back-payment {
    font-size: 25px;
    display: block;
}

.credit-title {
    font-size: 19px;
    font-weight: bold;
    margin: 10px 0px;
}

.credit-option {
    margin: 20px 0px;
    text-align: center;
}

.credit-wrapper {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 0px auto;
    text-align: center;
}

.credit-wrapper.active {
    width: 100px;
    height: 100px;
    border: 2px solid #56AACD;
    border-radius: 5px;
    display: block;
    margin: 0px auto;
    text-align: center;
}

.credit-wrapper p{
    font-size: 23px;
    font-weight: bold;
    margin-top: 30%;
}

.credit-wrapper.active p{
    font-size: 23px;
    font-weight: bold;
    margin-top: 30%;
    color: #56AACD;
}

.bonus {
    margin: 10px 0px;
    display: block;
    width: 100%;
}

.deposit-number #visa-icon {
    right: 15px;
    top: -7px;
    width: 70px;
  }
  
  .deposit-number #mastercard-icon {
    right: 80px;
    top: -5px;
    width: 60px;
  }
  
  .deposit-number #stripe-icon {
    right: 147px;
    top: 15px;
    width: 90px;
  }

  .deposit-number {
    display: inline-flex;
    position: relative;
  }

  .deposit-number img {
    position: absolute;
  }