<template name = "kitchen_status">

  <section class="feature" style="background: url(https://hips.hearstapps.com/hbu.h-cdn.co/assets/cm/15/04/54bf3f6489093_-_hbx-kitchen-of-the-year-2014-s2.jpg)">
      <a class="waves-effect waves-dark clear-icon"><i class="material-icons">clear</i></a>
  </section> <!--- section feature -->

  <div class="container">
    <div class="row">
      <div class="col l12 title">
        <h2>KITCHEN STATUS</h2>
      </div>
    </div>

    <div class="row">
      <div class="col l6">
        <ul class="tabs">
          <li class="tab col s6"><a class="active" href="#inspection">INSPECTION</a></li>
          <li class="tab col s6"><a href="#comment">COMMENT</a></li>
        </ul>
      </div><!-- tabs header -->
      <div class="col l6 control">
        <ul>
          <li><a class="waves-effect waves-light white"><i class="material-icons">bookmark_border</i></a></li>
          <li><a class="waves-effect waves-light white"><i class="material-icons">share</i></a></li>
          <li><a class="waves-effect waves-light white"><i class="material-icons">chat_bubble_outline</i><span>12</span></a></li>
        </ul>
      </div><!-- icon control -->
    </div>

    <div class="row">
      <div id="inspection" class="row col s12">
        <div class="col l6 s12">
          <ul class="inspection-list">
            <li>
              <p class="col l12" style="text-align: left">
                <input type="checkbox" class="filled-in" id="celling" checked="checked" />
                <label for="celling">Celling</label>
              </p>
              <a class="waves-effect waves-light white more-btn"><i class="material-icons">more_vert</i></a>
            </li>
            <li>
              <p class="col l12" style="text-align: left">
                <input type="checkbox" class="filled-in" id="door" checked="checked" />
                <label for="door">Door</label>
              </p>
              <a class="waves-effect waves-light white more-btn"><i class="material-icons">more_vert</i></a>
            </li>
            <li>
              <p class="col l12" style="text-align: left">
                <input type="checkbox" class="filled-in" id="doorway" checked="checked" />
                <label for="doorway">Doorway</label>
              </p>
              <a class="waves-effect waves-light white more-btn"><i class="material-icons">more_vert</i></a>
            </li>
            <li>
              <p class="col l12" style="text-align: left">
                <input type="checkbox" class="filled-in" id="floor" checked="checked" />
                <label for="floor">Floor</label>
              </p>
              <a class="waves-effect waves-light white more-btn"><i class="material-icons">more_vert</i></a>
            </li>
            <li>
              <p class="col l12" style="text-align: left">
                <input type="checkbox" class="filled-in" id="pest-control" checked="checked" />
                <label for="pest-control">Pest Control</label>
              </p>
              <a class="waves-effect waves-light white more-btn"><i class="material-icons">more_vert</i></a>
            </li>
            <li>
              <p class="col l12" style="text-align: left">
                <input type="checkbox" class="filled-in" id="surrounding" checked="checked" />
                <label for="surrounding">Surrounding</label>
              </p>
              <a class="waves-effect waves-light white more-btn"><i class="material-icons">more_vert</i></a>
            </li>
          </ul>
        </div>

        <div class="col l6 s12">
          <ul class="inspection-list">
            <li>
              <p class="col l12" style="text-align: left">
                <input type="checkbox" class="filled-in" id="systems" checked="checked" />
                <label for="systems">Systems</label>
              </p>
              <a class="waves-effect waves-light white more-btn"><i class="material-icons">more_vert</i></a>
            </li>
            <li>
              <p class="col l12" style="text-align: left">
                <input type="checkbox" class="filled-in" id="ventailings" checked="checked" />
                <label for="ventailings">Ventailings</label>
              </p>
              <a class="waves-effect waves-light white more-btn"><i class="material-icons">more_vert</i></a>
            </li>
            <li>
              <p class="col l12" style="text-align: left">
                <input type="checkbox" class="filled-in" id="washup" checked="checked" />
                <label for="washup">Wash up sinks</label>
              </p>
              <a class="waves-effect waves-light white more-btn"><i class="material-icons">more_vert</i></a>
            </li>
            <li>
              <p class="col l12" style="text-align: left">
                <input type="checkbox" class="filled-in" id="washstorage" checked="checked" />
                <label for="washstorage">Wash Storage</label>
              </p>
              <a class="waves-effect waves-light white more-btn"><i class="material-icons">more_vert</i></a>
            </li>
            <li>
              <p class="col l12" style="text-align: left">
                <input type="checkbox" class="filled-in" id="watersupply" checked="checked" />
                <label for="watersupply">Water Supply</label>
              </p>
              <a class="waves-effect waves-light white more-btn"><i class="material-icons">more_vert</i></a>
            </li>
          </ul>
        </div>

        <div class="row">
          <div class="col l12 s12">
            <div class="col l6 s12">
              <label>Processing Approval</label>
              <select>
                <option value="" selected>Choose your option</option>
                <option value="processing">Processing</option>
                <option value="approved">Approved</option>
                <option value="3">Option 3</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col l12" style="text-align: right">
              <a class="waves-effect waves-dark btn light-btn">Edit</a>
              <a class="waves-effect waves-light btn">Save</a>
          </div>
        </div>

      </div> <!-- content -->
      <div id="comment" class="col s12">
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="http://www.hexatar.com/gallery/thumb/160426_113912_mabd551a71f_avatar.png" alt="" class="circle">
            <span class="title">Anna Tim</span>
            <p>15/01/2017 | 15:07 <br>
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="http://www.hexatar.com/gallery/thumb/160426_113912_mabd551a71f_avatar.png" alt="" class="circle">
            <span class="title">Anna Tim</span>
            <p>15/01/2017 | 15:07 <br>
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="http://www.hexatar.com/gallery/thumb/160426_113912_mabd551a71f_avatar.png" alt="" class="circle">
            <span class="title">Anna Tim</span>
            <p>15/01/2017 | 15:07 <br>
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="http://www.hexatar.com/gallery/thumb/160426_113912_mabd551a71f_avatar.png" alt="" class="circle">
            <span class="title">Anna Tim</span>
            <p>15/01/2017 | 15:07 <br>
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="http://www.hexatar.com/gallery/thumb/160426_113912_mabd551a71f_avatar.png" alt="" class="circle">
            <span class="title">Anna Tim</span>
            <p>15/01/2017 | 15:07 <br>
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
          </li>
        </ul>
        <a class="btn-floating btn-large waves-effect waves-light add-comment-btn"><i class="material-icons">add</i></a>
      </div><!-- comment -->
    </div> <!-- tab content -->

  </div>

</template>
