.feature {
  height: 350px;
  background-color: #f5f5f5;
  position: relative;
}

.id_images {
  text-align: center;
  padding: 30px;
}

.title h2 {
  color: #000;
  float: left;
  text-align: left;
  margin: 10px 0px 0px 0px;
}

.control {
  text-align: right;
  float: right;
}

.control ul {
  display: inline-flex;
}

.control ul li a i {
  color: #000!important;
  font-size: 2.5em;
  margin: 10px 10px;
}

.btn {
  background-color: #4f75e2!important;
}

.light-btn {
  background-color: #fff!important;
  color: #000!important;
}

.clear-icon {
  position: absolute!important;
  right: 30px;
  top: 10px;
  color: #808080;
}

.clear-icon i {
  font-size: 35px!important;
}
