<template name = "terms_conditions">
  <div class = "container">
<p>
    <h3 class = "center-align">TERMS AND CONDITIONS</h3>
</p>
<ol>
    <li>
        <h5>These terms</h5>
    </li>
    <ol>
        <li>
            blueplate is a marketplace that allows users to offer, sell and buy
            food and drinks information (“<strong>Products</strong>”). These
terms and conditions govern your use of our website (our “            <strong>Platform</strong>”).
        </li>
        <li>
            Please read these terms carefully before you submit any order on
            our Platform. These terms tell you who we are, the conditions on
            which you may be a seller or a buyer on our Platform, what to do if
            there is a problem, and other important information. If you think
            that there is a mistake in these terms or require any changes,
            please contact us to discuss.
        </li>
        <li>
            <strong>By using our Platform, you agree to these terms.</strong>
            If you are using our Platform as a representative of an entity, you
            are agreeing to these terms on behalf of that entity.
        </li>
    </ol>
    <li>
        <h5>Information about us and how to contact us</h5>
    </li>
    <ol>
        <li>
            We are Blueplate Technologies Limited, a company registered in Hong
            Kong, trading as blueplate. Our company registration number is
            2539283 and our registered office is at Room 803, 8th Floor, Lai
            Cheong Factory Building, 479 Castle Peak Road, Cheung Sha Wan,
            Kowloon.
        </li>
        <li>
            For any questions or problems relating to our Platform, our
            Products or these terms, you can contact us by telephoning our
            customer service team at 27858588 or email us at
            support@blueplate.co or write to us at Room 803, 8th Floor, Lai
            Cheong Factory Building, 479 Castle Peak Road, Cheung Sha Wan,
            Kowloon.
        </li>
        <li>
            If we have to contact you, we will do so by telephone or by writing
            to you at the email address or postal address you provided to us.
        </li>
        <li>
            When we use the words "writing" or "written" in these terms, this
            includes emails.
        </li>
    </ol>
    <li>
        <h5>Contracts for sale</h5>
    </li>
    <ol>
        <li>
            We are a marketplace that allows users to offer, sell and buy
            Products. The actual contract for sale of Products is directly
            between the seller and the buyer.
            <strong>
                We are not liable to any person in relation to an offer for
                sale, sale, or purchase of any Product listed on our Platform.
                We are not responsible for the enforcement of any contractual
                obligations between any buyer and any seller.
            </strong>
        </li>
        <li>
            We have no control over and we do not guarantee the existence,
            quality, safety or legality of the items offered or advertised on
            our Platform, the accuracy, completeness or truth of any content or
            listings posted by users, the credit worthiness of any user, the
            ability of sellers to sell or buyers to buy, or that a particular
            buyer and seller will complete a particular transaction.
        </li>
        <li>
            We are not involved in any transaction between a buyer and a seller
            on our Platform save that we facilitate a marketplace for buyers
            and sellers and process payments on behalf of sellers.
        </li>
        <li>
            We are not an agent of any buyer or seller.
        </li>
        <li>
            We may (at our discretion but are not obliged to) check, audit or
            monitor the information contained in listings, comments and/or
            reviews posted by users.
        </li>
        <li>
            A buyer may place orders on the Platform as instructed on our
            Platform. A seller's acceptance of a buyer's order will take place
            when they email the buyer to accept it, at which point a contract
            will come into existence between the seller and the buyer.
        </li>
        <li>
            We will assign an order number to each order. Please tell us the
            order number whenever you contact us about your order.
        </li>
    </ol>
    <li>
        <h5>Terms and conditions for sale</h5>
    </li>
    <ol>
        <li>
            If you list an item on our Platform, you agree to comply with our
            rules for listing, content policies and selling practices from time
            to time in force.
            <strong>
                You are responsible for the accuracy, completeness and truth of
                the content of the listing and the Product offered
            </strong>
            . We reserve the right to modify, suspend or delete any listing
            that violates our rules, policies and practices, or to improve user
            experience.
        </li>
        <li>
            We have full discretion in determining the appearance, placement
            and order of listings in search and browse results. The factors we
            may consider in making such a determination may include the buyer
            and seller's respective location, the search terms used, and the
            buyer and seller's respective history on the Platform.
        </li>
        <li>
            All sellers on the Platform must clearly state the terms and
            conditions of sale ("<strong>Seller's Terms</strong>") in their
            listings, including the following information:
        </li>
        <ol>
            <li>
                forms of accepted payment;
            </li>
            <li>
                taxes and applicable government imposed fees (if any);
            </li>
            <li>
                shipping method, costs and expected time;
            </li>
            <li>
                return policy (e.g. the time period within which the buyer must
                notify the seller about return, who's responsible for the cost
                of return shipping); and
            </li>
            <li>
                refund or replacement policy (e.g. the time period within which
                refund or replacement will be arranged).
            </li>
        </ol>
        <li>
            You are responsible in keeping any content and information posted
            accurate and up to date. You should delete any listings that are no
            longer available.
        </li>
        <li>
            You must comply with all applicable laws and regulations in
            providing, delivering or rendering the Products that you offer or
            sell.
        </li>
    </ol>
    <li>
        <h5>Terms and conditions for purchase</h5>
    </li>
    <ol>
        <li>
            When purchasing a Product, you agree to comply with our applicable
            rules and policies from time to time in force.
            <strong>
                You are responsible for reading the full listing before
                committing to buy or making a bid for any Product
            </strong>
            .
        </li>
        <li>
            Any order placed or bid submitted in respect of a Product is deemed
            irrevocable and unconditional. In placing an order or submitted a
            bid you agree to the Seller's Terms set out in the seller's listing
            for the Product.
        </li>
        <li>
            You enter into a legally binding contract to buy a Product when you
            commit to buy a Product, your order for a Product is accepted, or
            if you have the winning bid for a Product (or your bid for a
            Product is otherwise accepted).
        </li>
    </ol>
    <li>
        <h5>Content</h5>
    </li>
    <ol>
        <li>
            When providing content on or to our Platform, you grant us a
            non-exclusive, worldwide, perpetual, irrevocable, royalty-free,
            sub-licensable right to use, reproduce, process, adapt, modify,
            publish, display and distribute such content for the purposes of
            providing the Products to you and the promotion of our Platform.
        </li>
        <li>
            For all content that you provide, you warrant that:
        </li>
        <ol>
            <li>
                the content is accurate, up to date and not misleading;
            </li>
            <li>
                you own or otherwise control all necessary rights to meet your
                obligations under these terms regarding such content; and
            </li>
            <li>
                the use of such content does not and will not infringe any
                intellectual property rights of any third party.
            </li>
        </ol>
        <li>
            While we try to offer reliable information, we do not promise that
            any content or information provided on our Platform will be
            accurate, complete, up to date or always available. If and where we
            offer catalogs of listings, such catalogs may include product
            images, descriptions and specifications provided by users or other
            third parties.
        </li>
        <li>
            If you are buying Products, you agree that we are not responsible
            for examining or warranting any listings provided by any users. If
            you are selling Products, it is your responsibility to review the
            content of your listings for accuracy.
        </li>
        <li>
            We do not take any responsibility, nor do we assume any liability,
            for any content provided by you or any third party. You agree not
            to hold us liable for any inaccurate or misleading content.
        </li>
    </ol>
    <li>
        <h5>Buyer's rights to make changes</h5>
    </li>
    <ol>
      <li>
          If a buyer wishes to make a change to the Product he has ordered, please
          contact the seller. The seller has full discretion whether or not to accept
          the changes. The seller will let the buyer know about any changes to the
          price of the product, the timing of supply or anything else which would be
          necessary as a result of the requested change and ask the buyer to confirm
          whether he wishes to go ahead with the change. If the seller cannot make
          the change or the consequences of making the change are unacceptable to the
      buyer, the buyer may request to end the contract (see Clause 9 -    <strong>A buyer's rights to end the contract</strong>).
      </li>
    </ol>
    <li>
        <h5>A seller's rights to make changes</h5>
    </li>
    <ol>
        <li>
            Sellers may make minor changes to their Products from time to time
            in order to:
        </li>
        <ol>
            <li>
                reflect changes in relevant laws and regulatory requirements;
                and
            </li>
            <li>
                implement minor technical adjustments and improvements, for
                example to address a security threat. These changes will not
                affect a buyer's use of the Product.
            </li>
        </ol>
        <li>
            If a seller makes significant changes to their Products or the
            Seller's Terms for the Products, the seller will notify the buyer
            prior to the changes take effect. If the buyer does not accept the
            changes, the buyer may contact the seller to end the contract
            before the changes take effect and receive a refund for any
            Products paid for but not received.
        </li>
    </ol>
    <li>
        <h5>A buyer's rights to end the contract</h5>
    </li>
    <ol>
        <li>
            If a buyer becomes aware of any defect in all or part of the
            Products delivered:
        </li>
        <ol>
            <li>
                the buyer must give notice in writing to the seller;
            </li>
            <li>
                where the Products reported are found to be defective the
                seller will, at its option, replace the defective Products or
                refund the price of such defective Products in full.
            </li>
        </ol>
        <li>
            If a buyer is ending a contract for a reason set out below the
            contract will end immediately, the seller will refund the buyer in
            full for any Products which has not been provided and the buyer may
            also be entitled to compensation:
        </li>
        <ol>
            <li>
                the seller has told the buyer about an upcoming change to the
                Product or the Seller's Terms for the Product, which the buyer
                does not agree to (see Clause 8.2);
            </li>
            <li>
                the seller has told the buyer about an error in the price or
                description of the Product ordered and the buyer does not wish
                to proceed;
            </li>
            <li>
                there is a risk that supply of the Products may be
                significantly delayed because of events outside the seller's
                control; or
            </li>
            <li>
                the seller has suspended supply of the Products for technical
                reasons, or notifies the buyer that the seller is going to
                suspend them for technical reasons, in each case for a period
                of more than seven (7) days.
            </li>
        </ol>
        <li>
            On our Platform, each buyer is offered a goodwill guarantee under
            which a buyer may change his mind within zero point five (0.5) days
            and receive a refund.
        </li>
        <li>
            A buyer has zero point five (0.5) days to change his mind after the
            day the seller emails the buyer to confirm his order. However, once
            the buyer starts downloading or streaming, he cannot change his
            mind even if the period is still running.
        </li>
        <li>
            A buyer does not have a right to change his mind after he has
            started downloading or streaming digital content.
        </li>
        <li>
            Even if a seller is not at fault and a buyer does not have a right
            to change his mind under Clause 9.3, a buyer can still end the
            contract before it is completed (i.e. when the Product is
            downloaded or streamed and paid for) by giving notice in writing to
            the seller, provided that the buyer will pay reasonable
            compensation for the net costs the seller will incur as a result of
            ending the contract. In such case, the contract will end
            immediately. The seller will refund any advance payment the buyer
            has made for Products which will not be provided to the buyer.
        </li>
        <li>
            To end the contract with a seller, select the relevant option in
            your account, or email our customer services at
            support@blueplate.co.
        </li>
        <li>
            If a refund is due, a seller must make the refund to the buyer as
            soon as possible, in any event within one (1) month from the day
            the buyer informs the seller that the buyer wishes to end the
            contract.
        </li>
    </ol>
    <li>
        <h5>A seller's rights to end the contract</h5>
    </li>
    <ol>
        <li>
            A seller may end the contract for a Product at any time by writing
            to a buyer if the buyer does not make any payment to the seller
            when it is due and still does not make payment within one (1) day
            of the seller reminding the buyer that payment is due.
        </li>
    </ol>
    <li>
        <h5>Price and payment</h5>
    </li>
    <ol>
        <li>
            The price of the Product will be the price indicated on the order
            pages when a buyer places his order. Each seller must take all
            reasonable care to ensure that the price of the Product advised is
            correct.
        </li>
        <li>
            It is always possible that, despite best efforts by the seller,
            some Products may be incorrectly priced on the Platform. If the
            correct price for the Product at a buyer's order date is less than
            the price stated to the buyer, the seller will charge the lower
            amount; but if it's higher than the price stated to the buyer, the
            seller will contact the buyer for instructions before accepting the
            buyer's order.
        </li>
        <li>
            A buyer must pay for the Products by such time and in such manner
            as specified in the Seller's Terms.
        </li>
        <li>
            If a buyer thinks an invoice is wrong please contact the seller
            promptly to let them know.
        </li>
    </ol>
    <li>
        <h5>Our responsibility for loss or damage suffered by you</h5>
    </li>
    <ol>
        <li>
            Subject to Clause 12.2:
        </li>
        <ol>
            <li>
                all warranties, conditions, or terms relating to fitness for
                purpose, quality, or condition of the Products, whether express
                or implied by statute or common law or otherwise, are expressly
                excluded;
            </li>
            <li>
                we shall not be liable to you (whether in contract, tort or
                otherwise) for any loss of profit or any indirect or
                consequential loss arising from or in connection with the
                provision of the Products; and
            </li>
            <li>
                our total liability to you for all losses arising from or in
                connection with the use of the Platform shall be limited to the
                price of the relevant Products sold to you on our Platform.
            </li>
        </ol>
        <li>
            Nothing in these terms will limit or exclude our liability for:
        </li>
        <ol>
            <li>
                death or personal injury caused by our negligence, or the
                negligence of our employees, agents or subcontractors (where
                applicable);
            </li>
            <li>
                fraud or fraudulent misrepresentation; or
            </li>
            <li>
                any matter in respect of which it would be unlawful for us to
                exclude or restrict liability.
            </li>
        </ol>
      </ol>
    <li>
        <h5>Use of your personal information</h5>
    </li>
    <ol>
        <li>
            The personal information you provide to us will be used:
        </li>
        <ol>
            <li>
                to supply the Products to buyers;
            </li>
            <li>
                to process payment for the Products; and
            </li>
            <li>
                if you agreed to this during the order process, to give you
                information about similar products that are available on our
                Platform, but you may stop receiving this at any time by
                contacting us.
            </li>
        </ol>
        <li>
            We will only give your personal information to third parties where
            the law either requires or allows us to do so.
        </li>
    </ol>
    <li>
        <h5>Entire agreement</h5>
    </li>
    <ol>
        <li>
            These terms constitute the entire agreement between any user and us
            in relation to the use of the Platform. These terms supersede and
            extinguish all other agreements, promises, assurances, warranties,
            representations and understandings between any user and us, whether
            written or oral, in relation to the use of the Platform.
        </li>
        <li>
            You acknowledge that you will have no remedies in respect of any
            statement, representation, assurance or warranty (whether made
            innocently or negligently) that is not set out in these terms.
        </li>
    </ol>
    <li>
        <h5>Other important terms</h5>
    </li>
    <ol>
        <li>
            We may transfer our rights and obligations under these terms to
            another organisation. We will contact you to let you know if we
            plan to do this. If you do not wish to continue the contract with
            the transferee, you may contact us to end the contract within one
            (1) calendar month of us informing you of the proposed transfer and
            we will refund you any payments you have made in advance for
            Products not provided.
        </li>
        <li>
            You may only transfer your rights or your obligations under these
            terms to another person if we agree to this in writing.
        </li>
        <li>
            If a court finds part of this contract illegal, the rest will
            continue in force. Each of the paragraphs of these terms operates
            separately. If any court or relevant authority decides that any of
            them are unlawful, the remaining paragraphs will remain in full
            force and effect.
        </li>
        <li>
            Even if we delay in enforcing this contract, we can still enforce
            it later. If we do not insist immediately that you do anything you
            are required to do under these terms, or if we delay in taking
            steps against you in respect of your breaking this contract, that
            will not mean that you do not have to do those things and it will
            not prevent us taking steps against you at a later date. For
            example, if you miss a payment and we do not chase you but we
            continue to provide the Products, we can still require you to make
            the payment at a later date.
        </li>
    </ol>
    <li>
        <h5>Governing law and dispute resolution</h5>
    </li>
    <ol>
        <li>
            These terms are governed by and shall be construed in accordance
            with the laws of the Hong Kong Special Administrative Region.
        </li>
        <li>
            Alternative dispute resolution is a process where an independent
            body considers the facts of a dispute and seeks to resolve it,
            without you having to go to court. If you are not happy with how we
            have handled any complaint, you may want to contact the alternative
            dispute resolution provider we use. You can submit a complaint to
            Hong Kong International Arbitration Centre via their website at
            http://www.hkiac.org/. Hong Kong International Arbitration Centre
            will not charge you for making a complaint and if you are not
            satisfied with the outcome you can still bring legal proceedings.
        </li>
    </ol>
</ol>
<p>
    Last updated: 10 April 2018
</p>
</div>
</template>
